//colors
$primary-color: #fff;
$text-color: #777;
$text-white: #fff;
$text-black: #222;
$color-primary-light:#7ED56F;
$color-secondary-dark: #28B483;

$color-grey-light-1: #f7f7f7;

//grid
$max-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

