
.btn{
    &:link, &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3rem;
        font-size: 1.6rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 1s;
        position: relative;
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem $text-black;
    }
    &-white{
        color:$text-color;
        background-color: white;
    }
    &:active{
        transform: translateY(-.2rem);
        box-shadow: 0 .1rem .5rem $text-black;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &-white::after{
        background-color: $text-white;
    }
    
    &:hover::after{
        transform: scaleX(1.2) scaleY(1.3);
        opacity: 0;
    }
    
    &-animate{
        animation: moveUp .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}


.btn-learn{
    &:link, &:visited{
        border-bottom: 2px solid $color-primary-light;
        padding: .3rem;
        color: $color-primary-light;
        text-decoration: none;
        font-size: 1.6rem;
        transition: all .2s;
        display: inline-block;

    }

    &:hover{
        background-color: $color-primary-light;
        color: white;
        transform: translateY(-5px);
        box-shadow: 0 1rem 2rem rgba($text-black,.15);

    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($text-black, .15);
        transform: translateY(0);
    }
}
